
<h1><%= @task.title%></h1>

<p><input id="check" type="checkbox" name="type[]">
<%= @task.details %></p>

<h2><%= link_to "Edit", edit_path %></h2>

<p><%= link_to "Back to list", tasks_path %></p>


<%console%>

